<?xml version="1.0" encoding="UTF-8"?>
<suite name="Junebatch1">
<listeners> 
<listener class-name="org.uncommons.reportng.HTMLReporter"/>
 <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
</listeners>

    <test name="RegSet2">
      
     <groups>
      <run>

     <include name="smoke"/>
     <include name="regression"/>
     
      </run>
      </groups>  
    
     <classes>
            
            <class  name="Scenario_Component.Scenario_Search" />
             <class  name="Scenario_Component.Scenario_Cart" />
       </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->
